#about {
    @include section;
}

#about-container {
    @include container;
    @include grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

#about-img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
    filter: grayscale(100%);
}

#about-box {
    background-color: $container-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 0.6rem;
}

#about-icon {
    font-size: 1.5rem;
    color: $title-color;
    margin-bottom: 0.5rem;
}

#about-title {
    font-size: $small-font-size;
    font-weight: $font-medium;
}

#about-subtitle {
    font-size: $tiny-font-size;
}

#about-description {
    padding: 0 1.5rem 0 0;
    margin-bottom: 2.5rem;
    width: 472px;
}


#section-title {
    @include section__title;
}

#section-subtitle {
    @include section__subtitle;
    display: flex;
    justify-content: center
}

#button-about {
    @include button;
    @include button--flex;

    &:hover {
        background-color: rgba(0, 0, 0, 0.842);
    }
}

#about-info {
    @include grid;
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: 2rem;
}


@media screen and (max-width: 992px) {
#about-container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
}

#about-img {
    width: 220px;
}

#about-box {
    padding: 0.75rem 0.5rem;
}

#about-data {
    text-align: center;
}

#about-info {
    justify-content: center;
}

#about-description {
    padding: 0 5rem;
    margin-bottom: 2rem;
}
}

@media screen and (max-width: 576px) {
    #about-container {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #section-subtitle {
       text-align: center;
    }
    
    #about-info {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    
    #about-box {
        width: 250px;
    }
    
    #about-description {
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
    }
    
    #button-about {
        margin-top: 20px;
    }

    #about-subtitle {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 380px) {
#about-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

#about-info {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

#about-box {
    width: 250px;
}

#button-about {
    margin-top: 20px;
}
}