#home {
    @include section;
}

#home-container {
    @include container;
    @include grid;
    row-gap: 4rem;
}

#home-content {
    @include grid;
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

#home-data {
    width: 500px;
}

#home-social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

#home-social-icon {
    font-size: 1.25rem;
    color: $title-color;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;

    &:hover {
        color: white;
        background-color: black;
        border-radius: 10px;
    }
}

#home-title {
    font-size: $big-font-size;
    margin-bottom: 0.25rem;
}

#home-hand {
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}

#home-subtitle {
    position: relative;
    font-size: $h3-font-size;
    padding-left: 5.4rem;
    font-weight: $font-normal;
    margin-bottom: 1rem;
}

#home-subtitle::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: black;
    left: 0;
    top: 1rem;
}



#home-description {
    max-width: 425px;
    margin-bottom: 3rem;
}

.home__hand {
    margin-left: 6px;
}

#home-img {
    background: url(../assets/will-pic.jpg);
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    order: 1;
    justify-self: center;
    width: 300px;
    height: 400px;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

#button-flex {
    @include button;
    @include button--flex;
    transition: 0.3s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.842);
    }
}

.button__icon {
    margin-left: 5px;
}

#home-scroll-button {
    @include button--flex;
}

.home__scroll-mouse {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
}

.wheel {
    fill: none;
    stroke: black;
    stroke-width: 20px;
    animation: scroll 2s ease infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(3.75rem);
    }
}

#mouse {
    fill: none;
    stroke: black;
    stroke-width: 20px
}

#home-scroll {
    margin-left: 9.25rem;
}

#home-scroll-name {
    color: $title-color;
    font-weight: $font-medium;
    margin-right: 0.25rem;
    margin-left: 2px;
}

#home-scroll-arrow {
    font-size: 1.25rem;
    color: $title-color;
}

@media screen and (max-width: 992px) {
    #home-container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    #button-flex {
        padding: 1rem 1.75rem;
    }

    .button__icon {
        width: 22px;
        height: 22px;
    }

    #home-content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    #home-subtitle {
        padding-left: 3.75rem;
        margin-bottom: 1rem;
    }

    #home-subtitle::before {
        width: 42px;
        top: 0.8rem;
    }

    #home-description {
        max-width: initial;
        margin-bottom: 2.5rem;
    }

    #home-img {
        width: 250px;
        height: 250px;
    }

    #home-scroll {
        margin-left: 7.5rem;
    }
}
@media screen and (max-width: 768px) {
    #home {
        padding: 2rem 0 4rem;
    }
    #home-content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    #home-img {
        order: initial;
        justify-self: initial;
        width: 200px;
        height: 200px;
    }

    #home-data {
        grid-column: 1/3;
    }

    #home-scroll {
        display: none;
    }

}
@media screen and (max-width: 576px) {
    #home-title {
        font-size: 1.5rem;
    }

    #home-subtitle {
        font-size: 1rem;
    }

    #home-description {
        font-size: 1rem;
        padding-right: 201px;
    }
    #home-img {
        width: 180px;
        height: 180px;
    }

    #home-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #button-flex {
        margin-top: 20px;
    }


}
@media screen and (max-width: 350px) {
    #home-title {
        font-size: 1.5rem;
    }

    #home-subtitle {
        font-size: 1rem;
    }

    #home-description {
        font-size: 1rem;
        padding-right: 201px;
    }
    #home-img {
        width: 180px;
        height: 180px;
    }

    #home-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #button-flex {
        margin-top: 20px;
    }

}