#skills {
    @include section;
}

#skills-container {
    @include container;
    @include grid;
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
    justify-content: center;
}

#skills-content {
    background-color: $container-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 2rem;
    border-radius: 1.25rem;
}

#skills-title {
    font-size: $normal-font-size;
    font-weight: $font-medium;
    text-align: center;
    margin-bottom: 1.5rem;
}

#skills-box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

#skills-group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

#skills-data {
    display: flex;
    column-gap: 0.5rem;
}

#skills .bx-badge-check {
    font-size: 1rem;
    color: $title-color;
}

#skills-name {
    font-size: $normal-font-size;
    font-weight: $font-medium;
    line-height: 18px;
}

#skills-level {
    font-size: $tiny-font-size;
}

@media screen and (max-width: 992px) {
#skills-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    grid-template-columns: max-content;
    row-gap: 2rem;
}
}

@media screen and (max-width: 576px) {
   #skill-container {
     grid-template-columns: 1fr;
     margin-left: 1rem;
     margin-right: 1rem;
   }

   #skills-content {
    padding: 1.5rem;
   }
}

@media screen and (max-width: 350px) {
    #skills-box {
        column-gap: 1.25rem;
    }

    #skills-name {
        font-size: $small-font-size;
    }
}